header{
    text-align: center;
}

body{
    background-color:blanchedalmond;
}
h1{
    text-align: center;
}
p{
    font-size: 1.5em;
}
.contactos, .pagos {
    display: inline-block;
    vertical-align: top; /* Alinea los elementos en la parte superior */
    margin-right: 20px; /* Ajusta el margen derecho para separar los bloques */
}
.parrillada, .bebidas {
    display: inline-block;
    vertical-align: top; /* Alinea los elementos en la parte superior */
    margin-right: 20px; /* Ajusta el margen derecho para separar los bloques */
}

